@import url("https://fonts.googleapis.com/css?family=Muli|Open+Sans|Roboto&display=swap");

.header {
  font-family: "Open Sans", sans-serif;
  font-size: calc(1vw + 1.2vh + 0.8vmin);
  color: #89216b;
}

h1 {
  margin: 20px 0rem;
  font-weight: 400;
  background: -webkit-linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 500px) {
  .header {
    text-align: center;
    font-size: calc(1vw + 1.2vh + 0.2vmin);
  }

  h1 {
    font-weight: 600;
  }
}
